@model Category

<div class="row pt-3 mt-lg-4 mb-lg-4">
    <div class="col-6">
        <h1>Create A Category</h1>
    </div>
    <div class="col-6 text-end">
        <a class="btn btn-secondary" asp-controller="Category" asp-action="Index"><i class="bi bi-backspace"></i> &nbsp; Go Back</a>
    </div>
</div>

<form method="POST" asp-controller="Category" asp-action="Create">
    <div class="mb-3">
        <label asp-for="Name" class="form-label"></label>
        <input asp-for="Name" type="text" class="form-control">
        <span asp-validation-for="Name" class="text-danger"></span>
    </div>
    <div class="mb-3">
        <label asp-for="OrderId" class="form-label"></label>
        <input asp-for="OrderId" type="number" class="form-control">
        <span asp-validation-for="OrderId" class="text-danger"></span>
    </div>
    <div class="mt-lg-5">
        <button type="submit" class="btn btn-primary">Create Category</button>
    </div>
</form>

@section Scripts {
    <partial name="_ValidationScriptsPartial"></partial>
}